# Expo
.expo/
dist/
web-build/
.expo-shared/

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment
.env
.env.local

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Firebase
serviceAccountKey.json
firebase-debug.log
.firebase/

# Testing
coverage/

# Misc
*.log

# Secrets and local env
.env.*.local
venv copy/
.vercel
